node_modules
dist
.DS_Store
*.log
.env
.next
.turbo
bun.lock
package-lock.json
.yarn
.yarnrc
.yarnrc.yml
.sisyphus
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
.env*.local
tsconfig.lint.tsbuildinfo